{% extends 'layout/base.html' %}
{% load widget_tweaks %}


{% block title %}
Request Map
{% endblock title %}


{% block extra_head %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/css/bootstrap-select.min.css"
    integrity="sha256-VMPhaMmJn7coDSbzwqB0jflvb+CDnoAlfStC5RogOQo=" crossorigin="anonymous" />

{% endblock extra_head %}



{% block content %}
<div class="container">
    <div class="card card-nav-tabs">

        <div class="card-body">
            <div class="col-md-6 m-auto">
                <h4 class="card-title">Request For A Map</h4>
                <form action="." method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form-group ">
                        <label class="">{{field.label}}</label>
                        {{field}}

                    </div>

                    {% endfor %}


                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-outline-primary btn-round" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Advanced options
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">

                            {% for field in option_form %}
                            {% if field.field.widget.input_type == 'checkbox' %}
                            <div class="form-check">
                                <label class="form-check-label">
                                    {% render_field field class="form-check-input" %}

                                    {{field.label}}
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>

                            {% elif field.field.widget.input_type == 'select' %}

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="" class="col-sm-4 col-form-label">{{field.label}}:</label>
                                        <div class="col-sm-8">
                                            {% render_field field class="custom-select" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="form-group ">
                                <label class="control-label">{{field.label}}</label>
                                {{field}}

                            </div>
                            {%endif%}
                            {% endfor %}

                        </div>
                    </div>





                    <button type="submit" class="btn btn-info ">SUBMIT</button>

                </form>
                <p class="card-text">You will be redirected to the dowload Link</p>
            </div>


        </div>
    </div>
</div>

<!-- MODAL FORM -->

{% endblock content %}


{% block extra_java %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/js/bootstrap-select.min.js"
    integrity="sha256-QOE02Glo1C1gHzP96JOaxyIMt4XSFv/exZaYLY4dwO0=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var $list = $("form :input[type='text'], form :input[type='email']");
        $list.each(function () {
            $(this).addClass('form-control')
        });

        var $list = $("form :input[type='number']");
        $list.each(function () {
            $(this).addClass('form-control')
        });
        var $textarea = $("form textarea");
        $textarea.each(function () {
            $(this).addClass('form-control')
        });
        var $select = $("#advanced-form select");
        $select.each(function () {
            $(this).addClass('custom-select w-90')
        })

    })
</script>

{% endblock extra_java %}
