.image-link {
  cursor: pointer;
}

.link {
  text-decoration: none;
  transition: .3s;
  font-size: 120%;
}

.link.link-primary {
  color: rgb(10, 7, 7);
}

.link.link-success {
  color: green;

}

.link.link-success-sm {
  color: green;
  font-size: 0.9rem;
}

link.link-info {
  color: #4b8cec
}

.bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}
